.navbar-fixed-top {
    background-color: #343A40;
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

body {
    background-image: url('../images/proglanguages.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.table-bordered {
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    border-style: dotted;
    border-collapse: collapse;
    color: #282828;
}

    .table-bordered td, th, tr, tbody, thead {
        text-align: center;
        padding: 10px;
    }

.table > thead {
    background-color: #343A40;
    color: #FFFFFF;
}

.table > tbody {
    background-color: #394063;
    color: #FFFFFF;
}

    .table > tbody tr:hover {
        background-color: #251fba;
    }

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item {
    color: #f8f9fa;
}

h2 {
    line-height: 2em;
    border-radius: 10px;
    background-color: #04ccc6;
    text-align: center;
    color: #FFFFFF;
}

.dropdown-item:hover {
    background-color: #251fba;
}

label {
    color: #FFFFFF;
}

